<%- include('../components/header') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb" style="height: 100%">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title ms-2 my-3">Country</h4>
          </div>

          <div class="container-fluid">
            <% if(locals.success !="" ) { %>
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <%= locals.success %>
            </div>
            <% } %>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Table</h5>

                      <a href="/city/add" class="btn btn-success">Add</a>
                    </div>
                  </div>

                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Country</th>
                        <th scope="col">Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% city.map((val,i)=>{ %>
                      <tr>
                        <td><%= ++i %></td>
                        <td><%= val.city %></td>
                        <td><%= val.stateId.state %></td>
                        <td><%= val.countryId.country %></td>
                        <td>
                          <button class="btn btn-success">
                            <%= val.status %>
                          </button>
                        </td>
                        <td>
                          <a
                            href=" /city/delete?id=<%= val._id %>"
                            class="btn btn-danger btn-sm"
                          >
                            <i class="fa fa-trash"></i>
                          </a>
                          <a
                            href="/city/edit?id=<%= val._id %>"
                            class="btn btn-primary btn-sm"
                          >
                            <i class="fa fa-edit"></i>
                          </a>
                        </td>
                      </tr>
                      <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
  </body>
</html>
<%- include('../components/footer') %>
